<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>音悦商城-全球明星周边商城-正品低价-品质保障-音悦台旗下</title>
    
<link rel="stylesheet" type="text/css" href="\tp\public\static\css\index.css">
<link rel="stylesheet" type="text/css" href="\tp\public\static\css\a.css">
<script type="text/javascript" src="/tp/public/static/js/jquery-3.2.1.min.js"></script>

</head>
<body>

<div class="a">
 <div hidefocus="true" id="amsd"><a id="close">×</a></div>
        <div class="b">

            <div class="cmdasbs">
                <a  id="a1">登录</a>
                <a  id="a2">注册</a>
            </div>
        <div id="denglu">
                <div>
                <form>
                    <span class="d">
                        <input type="text" name="login" placeholder="请输入手机号或邮箱" style="outline: none;" id="text">
                    </span>
                    <span class="f">
                        <input type="password" name="pwd" placeholder="请输入密码" style="outline: none;" id="pwd">
                    </span>
                    <div class="cookie">
                        <label class="labels">
                            <input type="checkbox" name="cookie" checked>
                            <span>自动登录</span>
                        </label>
                        <a href="retrieve_pwd">忘记密码</a>
                    </div>
                    <div class="km" id="ks">
                        <input type="button" name="submit" value="登录" id="submit">
                    </div>
                </form>
            </div>
            <div class="api">
                <span id="m4">第三方登录:</span>
                <span id="m1"><a href=""></a></span>
                <span id="m2"><a href=""></a></span>
                <span id="m3"><a href=""></a></span>
            </div>
        </div>
        <div class="zhuce" style="display: none;">
            <form>
                <span class="d">
                    <input id="mall" type="text" name="mall" placeholder="请输入手机号" style="outline: none;" >
                </span>
                <span class="f">
                    <input type="password" name="password" placeholder="密码为6-20位,支持大小写" style="outline: none;" id="password">
                </span>
                <span class="f am">
                    <input type="password" name="num" placeholder="请输入验证码" style="outline: none;" id="num">
                    <small class="active" id="huoqu">获取验证码</small>
                </span>
                <div class="km" id="ks">
                    <input type="button" name="mit" value="立即注册" id="mit">
                </div>
                <label class="labels" id="mand">
                            <input type="checkbox" name="cookie" checked>
                            <span>我已阅读并同意</span>
                </label>
            </form>


        </div>


        </div>
    </div>


<div class="apmas">
  

<div class="header">
    <div class="pos">
        <div class="yinyueLogo"></div> 
        <div class="amm"><a href="warranty">正品保证</a></div>
        <div class="ur">
            <div class="sina">
                 <p>官方微博</p>
                 <div class="posa">
                     <img src="/tp/public/static/img/3.png">
                     <p class="can">扫一扫</p>
                     <p class="more">了解最新商品信息</p>
                 </div>
            </div> 
            <div class="abb">
                <p>关注微信</p>
                <div class="posa">
                  <img src="/tp/public/static/img/4.jpg">
                     <p class="can">扫一扫</p>
                     <p class="more">了解最新商品信息</p>
                 </div>
            </div>
        </div>  
    </div>
</div>
<div class="bar_bg">
    <div class="bar">
        <a href="/" class="ban"></a>
        <form class="sman">
            <input type="text" name="sousuo" placeholder="搜索偶像、商品" style="outline:none;">
            <a href="index.html" id="serach"></a>
        </form>
        <div class="userbox">
            <span class="apus">
            <a  id="login">登录</a>
                 <ul id="login_yc" style="display: none;">
                    <li><a href="homepage">个人主页</a></li>
                    <li><a href="homepage">我喜欢</a></li>
                    <li><a href="#">退出</a></li>
                 </ul>
            </span>
                 <script type="text/javascript">
                   $('.apus').hover(function(){
                      $('#login_yc').show();
                   },function(){
                      $('#login_yc').hide();
                   });
                   //  $('#login').hover(function(){
                   //  $('#login_yc').show();
                   // },function(){

                   // })
                 </script>
            <a  id="word">我的订单</a>
            <a  href="shopping" id="dda">购物车</a>
        </div>
    </div>
</div>
<div class="rb">
    <div class="op">
        <div class="lei">
            <a href=" " id="amdas">艺人分类</a>
           <!--  <div class="a1">
                <div class="lis">
                    <h4>
                        <a href="">韩国></a>
                    </h4>
                </div>
            </div> -->
        </div>
        <ul class="uh">
            <!-- <li>
                <a href=" ">首页</a>
            </li> -->
            <li ><a href="index">首页</a></li>
            {foreach $res as $key => $val}
              <li ><a href="{$val.from}?nid={$val.d_id}">{$val.s_title}</a></li>
            {/foreach}
        </ul>
        
    </div>
</div>

</div>

<div class="lm">
    <a href="shopping" class="ans1">
        <i >{$man}</i>
    </a>
    <a class="ans3" href="tencent://message/?uin=2592216470&Site=您好有什么需要为您服务的吗？&Menu=yes'"></a>
    <a href="shopHelpNotice" class="ans2"></a>
    <a class="ans4" id="ammbo"></a>
</div>

<script type="text/javascript">
    
    
     // $(window).scroll(function(){
     //     var Top = $(window).scrollTop();
     //     console.log(Top);
     //     if (Top>='100') {
     //         $('#ammbo').show();
     //     }
     // })
    $(function(){
         $(".ans4").click(function() {
      $("html,body").animate({scrollTop:0}, 500);
  }); 
 })
</script>


            <script type="text/javascript">
                $('#a1').click(function(){
    $('#a1').css({'color':'#27d5bf',"border-bottom":"2px solid #27d5bf"});
    $('#a2').css({'color':'black',"border-bottom":"2px solid #e1e1e7"});
    $('#denglu').show();
    $('.zhuce').hide();
});
$('#a2').click(function(){
    $('#a2').css({'color':'#27d5bf',"border-bottom":"2px solid #27d5bf"});
    $('#a1').css({'color':'black',"border-bottom":"2px solid #e1e1e7"});
    $('#denglu').hide();
    $('.zhuce').show();
})
$('#close').click(function(){
    $('.a').hide();
})
$('#login').click(function(){
   $('.a').show();
})
            </script>




<div id="o" >   

      <div class="o1">
           找回密码
      </div>


<!--               验证码                 -->

      <div class="o3 yincang">

           <div class="o31">

                <form action="#" method="post">

                    <div class="o311">
                        <span>邮箱/手机号</span>
                    </div>

                    <div class="o312">
                        <input type="text" name="mun" class="o313" placeholder="请输入邮箱/电话号码">
                    </div>

                    <div class="o311">
                        <span>验证码</span>
                    </div>

                    <div class="o312">
                        <input type="text" name="yz" class="o314" placeholder="请输入验证码">
                        <img src="/tp/public/static/img/ico.png" style="width: 110px ; height: 36px ; float: left; border: 1px solid #9d9d9d; border-radius: 2px;" >
                        <a href="">换一张</a>
                    </div>

                    <div class="o312">
                        <input type="button" name="tj" class="o315 dj1" value="下一步">
                    </div>
               </form>

           </div>
          
      </div>

<!--                      验证身份                          -->

<div class="yincang1" style="display: none;">

     <div class="o2">

          <div class="o21">
              
          </div>
          
     </div>  

       <div class="o3">

           <div class="o31">

                <form action="#" method="post">

                    <div class="o311">
                        <span>邮箱/手机号</span>
                    </div>

                    <div class="o312">
                        <input type="text" name="mun" class="o313" placeholder="请输入邮箱/电话号码">
                    </div>

                    <div class="o311">
                        <span>验证码</span>
                    </div>

                    <div class="o312">
                        <input type="text" name="yz" class="o314" placeholder="请输入验证码">
                        <input type="button" name="sjyz" class="o316" value="获取验证码">
                        <input type="button" name="sjyz2" class="o317" value="正在发送.." style="display: none; ">
                    </div>

                    <div class="o312">
                        <input type="button" name="tj" class="o315 dj2" value="下一步">
                    </div>
               </form>

           </div>

      </div>
</div>

<!--                      重置密码                          -->

<div class="yincang2" style="display: none;">

     <div class="o2">

          <div class="o22">
              
          </div>
          
     </div>  

       <div class="o3">

           <div class="o31">

                <form action="#" method="post">

                    <div class="o311">
                        <span>新密码</span>
                    </div>

                    <div class="o312">
                        <input type="text" name="pwd1" class="o313" placeholder="密码为6-20位字符支持大小写">
                    </div>

                    <div class="o311">
                        <span>确认密码</span>
                    </div>

                    <div class="o312">
                        <input type="text" name="pwd2" class="o313" placeholder="请再输入一次">
                    
                    </div>

                    <div class="o312">
                        <input type="button" name="tj" class="o315 dj3" value="下一步">
                    </div>
               </form>

           </div>

      </div>
</div>

<!--                       修改成功                             -->

<div class="yincang3" style="display: none;">

        <div class="o2">

                  <div class="o23">
                      
                  </div>
          
       </div>  


                 <div class="o319">
                         
                        <p>修改成功</p>
                        <span>找回密码成功，<a href="#">点击跳转</a></span>
                     
                 </div>

</div>


      <div class="o4">
          
      </div>

</div>

<script type="text/javascript">
    
    $('.dj1').click(function(){
        $('.yincang').hide();
        $('.yincang1').show();
    })
    $('.dj2').click(function(){
        $('.yincang1').hide();
        $('.yincang2').show();
    })
    $('.dj3').click(function(){
        $('.yincang2').hide();
        $('.yincang3').show();
    })
</script>

<script type="text/javascript">

    $('.o316').click(function(){
        $('.o316').hide();
        $('.o317').show();
    })
    $('.o317').click(function(){
        $('.o317').hide();
        $('.o316').show();
    })


</script>


<div class="footerBox"></div>

<div class="footer">
    <p class="footer_link">
        <a href="http://www.yinyuetai.com/article/3" target="_blank" title="关于我们">关于我们</a>
        <span class="ico_line"></span>
        <a href="http://www.yinyuetai.com/joinus" target="_blank" title="人才招聘">人才招聘</a>
        <span class="ico_line"></span>
        <a href="http://www.yinyuetai.com/article/1" target="_blank" title="联系我们">联系我们</a>
        <span class="ico_line"></span>
        <a href="http://www.yinyuetai.com/links" target="_blank" title="友情链接">友情链接</a>
        <span class="ico_line"></span>
        <a href="http://www.yinyuetai.com/article/4" target="_blank" title="版权声明">版权声明</a>
        <span class="ico_line"></span>
        <a href="http://www.yinyuetai.com/service/problem" target="_blank" title="客服中心">客服中心</a>
    </p>

    <p class="footer_copy">
        <a href="http://sq.ccm.gov.cn:80/ccnt/sczr/service/business/emark/toDetail/4028c08b5414482e015417e9da8803e3" target="_blank"><img src="http://s.yytcdn.com/v2/images/topbar/culture.png" style="vertical-align: top;width:25px;height:25px;margin-right:3px;"></a>
        Copyright © 2009 - 2016 yinyuetai.com 广播电视节目制作经营 许可证编号(京)字第1891号 | <a href="http://www.yinyuetai.com/cert" target="_blank">京网文[2014]2037-287号</a>
        | <a href="http://www.yinyuetai.com/permit" title="网络视听许可证0110413号">网络视听许可证0110413号</a><br>
        <a class="police-store" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502014900" target="_blank"><img src="http://s.yytcdn.com/v2/images/topbar/ghs.png" style="vertical-align: top;"> 京公网安备11010502014900号</a>| 京ICP备11024134号-1 | 京ICP证060716号 | 出版物经营许可证 新出发京零字第朝130062号 | 增值电信业务经营许可证B2-20140501
        <a href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202013092900002" target="_blank" class="positionImg"><img src="http://s.yytcdn.com/images/biaoshi.gif" style="vertical-align: top; margin-top: -25px;"></a>
    </p>
</div>


</body>
 <script type="text/javascript" src="/tp/public/static/js/index.js"></script>
</html>